@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
    .banner-img{bottom: -540px;}
    .banner-inner{padding-bottom: 480px;}
    .login-right {
        padding: 130px 50px !important;
    }
    .login-left {
        height: 700px;
    }
    .form-card{
        margin-top: 190px;
        margin-bottom: 110px;
    }
    .bottom-btn {
        width: 90% !important;
    }
    .training-tabs li.nav-item {
        width:160px;
    }
    .testimonials{
        padding-bottom: 100px;
    }
    .personnel-tabs li.nav-item {
        width: 190px;
    }
}
@media screen and (max-width: 991px) {
    .testimonials {
        padding: 50px 0;
    }
    h1{font-size: 40px;}
    h2{font-size: 37px;}
    h3{font-size: 30px;}
    h4{font-size: 27px;}
    h5{font-size: 22px;}
    .banner-inner{
        padding-top: 120px;
        padding-bottom: 70px;
    }
    .banner-img{position: static; margin-top: 30px;}
    .sidebar-toggle{
        display: inline-block;
    }
    .sidebar{
        margin-left: -300px;
    }
    .main-body{margin-left: 0;}
    .sidebar.collapsed{margin-left: 0px;}
    footer{margin-left: 0;}
    .sidebar{
        margin-top: 94px;
    }
    div#navbarNav1 {
        position: absolute;
        background: white;
        z-index: 2;
        top: 90px;
        width: 100%;
        left: 0px;
        padding: 0px 50px;
    }
    .bottom-btn {
        width: 100% !important;
        position: static;
        margin-top: 10px;
    }
}
@media screen and (max-width: 768px) {
    .login-right {
        padding: 40px 50px !important;
    }
    .login-left {
        background: #E8E8E8;
        height: auto;
        padding-top: 50px !important;
        padding-bottom: 50px !important;
        align-items: center;
        text-align: center;
    }
    h1{font-size: 35px;}
    h2{font-size: 32px;}
    h3{font-size: 27px;}
    h4{font-size: 24px;}
    h5{font-size: 20px;}
    p{font-size: 15px;}
    .p-lg{font-size: 18px;}
    .form-card{
        margin-top: 140px;
        margin-bottom: 60px;
    }
    .search-bar{width: 100%;}
}
@media screen and (max-width: 576px) {
    h1{font-size: 28px;}
    h2{font-size: 25px;}
    h3{font-size: 23px;}
    h4{font-size: 21px;}
    h5{font-size: 18px;}
    p{font-size: 14px;}
    .banner p{font-size: 15px;}
    .p-lg{font-size: 16px;}
    .sidebar-toggle{margin-top: 10px;}
    .top-bar {
        width: 95%;
    }
    .better-work-card{
        border-radius: 20px;
    }
    .login-right {
        padding: 30px 30px !important;
    }
    .login-left {
        background: #E8E8E8;
        height: auto;
        padding: 30px 20px !important;
        align-items: center;
        text-align: center;
    }
    .form-card-inner{
        display: block;
    }
    .form-card {
        padding: 20px;
    }
    .dropdown-notification .dropdown-menu {
        min-width: 100%;
        width: 100%;
    }
    .w-150, .w-190{
        width: 100%;
    }
    .training-tabs li.nav-item {
        width:100%;
        border: 0;
    }
    .training-tabs li.nav-item:first-child, .training-tabs li.nav-item:last-child {
        border: 0;
    }
    .training-tabs{
        border: 1px solid #29313F;
        border-radius: 5px;
    }
    .testimonials {
        padding: 35px 0;
    }
}
@media screen and (max-width: 375px) {
}