/*
    DEMO STYLE
*/
/* Preloader Style & Animation */
.preloader-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin:auto;
    border-width: 2px;
    border-style: solid;
    border-color: #246c21 rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .1);
    border-top-width: 3px;
    animation: rotate 1s 0s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
body{font-family: 'Roboto', sans-serif;}
h1,h2,h3,h4,h5,h6{font-family: 'Ubuntu', sans-serif;}
.ubuntu{font-family: 'Ubuntu', sans-serif;}
h1{font-size: 50px; font-weight: 700;}
h2{font-size: 45px; font-weight: 700;}
h3{font-size: 35px; font-weight: 700;}
h4{font-size: 30px; font-weight: 700;}
h5{font-size: 25px; font-weight: 700;}
.medium{font-weight: 500;}
p{font-size: 16px;}
.p-lg{font-size: 20px;}
.banner p{font-size: 18px;}
.grey-text{color: #AAABAD;}
.d-grey-text{color: #545454;}
.orange-text{color: #F7941E;}
input[type="checkbox"] {
    visibility: hidden;
    display: none;
}
input[type="checkbox"] + label:before {
    border: 1px solid #545454;
    background-color: white;
    content: "\00a0";
    display: inline-block;
    line-height: 0.3;
    font-size: 20px;
    height: 16px;
    margin: 0 .25em 0 0;
    padding-left: 3px;
    vertical-align: top;
    width: 16px;
    border-radius: 3px;
    text-align: right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type="checkbox"]:checked + label:before {
    /* background: #F14669; */
    color: #545454;
    content: "\2713";
    text-align: right !important;
}
input[type="checkbox"]:checked + label:after {
    font-weight: bold;
}

input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px !important;
    outline: 0;
}
.modal-content.site-modal {
    padding: 40px 25px;
    border: 0;
    border-radius: 10px !important;
}
.close.modal-close {
    font-size: 30px !important;
    position: absolute;
    right: 15px;
    font-weight: 500 !important;
    font-family: 'GilroyMed', sans-serif !important;
    /* color: #FB1111 !important; */
    top: 9px;
    /* color: #595959; */
    cursor: pointer;
    opacity: 1 !important;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {  
    width: 100%;
}

.sidebar {
    width: 300px;
    /* max-width: 100%; */
    height: 100vh;
    position: fixed;
    transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out,
      margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
    background: white;
    /* margin-top: 79px; */
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 40px;
    /* padding-bottom: 30px; */
}
.sidebar a{
    color: #141414;
    display: block;
    font-size: 18px;
    /* text-transform: uppercase; */
    /* font-family: 'Heebo', sans-serif; */
    margin-top: 20px;
    padding: 5px 10px;
}

ul li{
    list-style: none;
}
/* .sidebar.collapsed {
    margin-left: -300px;
} */
.sidebar hr{
    border-top: 1px solid #13232a;
    border-bottom: 1px solid #091418;
}
.main {
    width: 100%;
    height: 100%;
}
  
.bg-me1 {
    background-color: white;
    /* position: fixed; */
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 5px 40px;
    border-radius: 10px;
    max-width: 100%;
}
.main-navbar{
    width: 100%;
    margin-left: 300px;
    max-width: 100%;
}
.main-body{
    padding: 10px;
    margin-left: 300px;
    /* padding: 80px 0 0 30px; */
    background: #FFF7EE;
    color: #141414;
}
.sidebar-toggle{
    display: none;
}
.sidebar-toggle i{
    color: #141414;
    font-size: 20px;
}
.sidebar ul li a:hover, .sidebar ul li a.active{
    color: white;
    background: #29313F;
    border-radius: 5px;
}
.sidebar ul li a:hover svg path, .sidebar ul li a.active svg path, .sidebar ul li a:hover svg circle, .sidebar ul li a.active svg circle{
    fill: white;
}
.ss-scroll{background: #e8300c; width: 6px;}
.ss-content{
    width: 100%;
}
.top-bar{position: absolute; width: 100%; padding-top: 20px; z-index: 2;}
.transparent-btn{
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}
.navbar-nav a.transparent-btn{color: white !important;}
.site-btn{
    background: white;
    border: 1px solid white;
    color: black !important;
    border-radius: 5px;
    font-weight: 400;
    transition: ease-in-out .2s;
    cursor: pointer;
    font-size: 17px;
}
.site-btn:hover{
    background: rgb(255, 255, 255, .4);
}
.grey-btn{
    background: #29313F;
    color: white !important;
    border: 1px solid #29313F;
}
.grey-btn:hover{
    background: white;
    color: #29313F !important;
    border: 1px solid #29313F;
}
.grey-btn:hover svg path{
    fill: #29313F;
}
.red-btn{
    background: #E9250F;
    color: white !important;
    border: 1px solid #E9250F;
}
.red-btn:hover{
    background: white;
    color: #E9250F !important;
    border: 1px solid #E9250F;
}
.red-btn:hover svg path{
    fill: #E9250F;
}
.grey-border{
    border: 1px solid #29313F;
    background: transparent;
    color: #29313F !important;
}
.grey-border:hover{
    border: 1px solid #29313F;
    background: #29313F;
    color: white !important;
}
.white-border{
    border: 1px solid white;
    background: transparent;
    color: white !important;
}
.white-border:hover{
    border: 1px solid #fff;
    background: #fff;
    color: #29313F !important;
}
.yellow-border{
    background: transparent;
    border: 1px solid #F7941E;
    color: #F7941E !important;
}
.yellow-border:hover{
    background: #F7941E;
    border: 1px solid #F7941E;
    color: white !important;
}
.pur-shadow{
    box-shadow: 0 0 40px rgb(159, 85, 255, .31);
}
/* ---------------------------------------------------
    BANNER
----------------------------------------------------- */
.banner{
    background: url('../images/banner.png') no-repeat;
    background-size: cover;
}
.banner-inner{
    padding-top: 170px;
    padding-bottom: 500px;
    color: white;
    text-align: center;
    position: relative;
}
.banner-img{
    position: absolute;
    bottom: -600px;
    left: 0;
}
/* ---------------------------------------------------
    INTEGRATING FUNCTIONS
----------------------------------------------------- */
.integrating-functions{padding-top: 150px; text-align: center;}
.integrate-card{
    background: #FFF7EE;
    border-radius: 5px;
    height: 232px;
    position: relative;
    margin-bottom: 30px;
}
.integrate-img{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.better-work-card{
    background: #29313F;
    border-radius: 40px;
    text-align: center;
    color: white;
}
.testimonials{
    background: url('../images/testimonial-bg.png') no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 250px;
    text-align: center;
}
.testimonial-img{
    width: 100px !important;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin: 0 auto;
}
.testimonial-carousel .owl-dots .owl-dot span {
    background: #505050;
}
.testimonial-carousel .owl-dots .owl-dot.active span{
    background: #F7941E;
    width: 27px;

}
/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */
footer{
    padding: 70px 0;
    color: #545454;
    background-color: #FFF7EE;
}
footer .p-lg{
    color: black;
}
.border-white{
    border-right: 1px solid white;
}
footer ul li{
    list-style: none;
}
.bottom{
    border-top: .5px solid #cccccc;
    text-align: center;
    background-color: #FFF7EE;
    color: #545454;
}
.about-us .card-header{
    background-color: transparent ;
    border-bottom: none ;
}
.about-us .card{
    border-left: none ;
    border-right: none ;
}
.sale-img{
    width: 30% ;
}
.site-input{
    background: white;
    border: 1px solid #AAABAD;
    border-radius: 5px;
    resize: none;
    color: #666666;
}
.site-input::placeholder{
    color: #AAABAD;
}
.login-input{
    border: 1px solid #707070;
}
.login-input::placeholder{
    color: #666666;
}
.login-left{
    background: url('../images/login-left.png') no-repeat;
    background-size: 100% 100%;
    height: 969px;
    display: flex;
    flex-direction: column;
    padding: 0 40px !important;
    justify-content: center;
}
.login-left img{
    width: 240px;
}
.d-blue-text{color: #29313F !important;}
.login-right{
    padding: 242px 100px !important;
}
.right-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}
.red-text{
    color: #FF0000;
}
input[type="checkbox"] + label {
    color: #666666;
}
.form-after-login{
    background: #29313F;
}
.form-card{
    border-radius: 10px;
    background: white;
    padding: 20px 50px;
    margin-top: 300px;
    margin-bottom: 200px;
}
.white-line{
    border: none;
    border-bottom: .5px solid rgb(255, 255, 255, .4);
}
header{
    width: 100%;
    position: absolute;
    z-index: 3;
    padding-top: 20px;
}
.form-card-inner{
    background: #FFF7EE;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.green-text{
    color: #0AAC5B;
}
.p-md{font-size: 18px;}
.form-card-sm{
    margin-top: 190px;
    margin-bottom: 110px;
}
.white-card{
    background: white;
    border-radius: 10px;
}
.avatar img{
    width: 59px;
    height: 59px;
    border-radius: 100%;
    object-fit: cover;
}
.dropdown-notification .dropdown-menu {
    min-width: 24rem;
    position: absolute;
    padding: 10px;
}
.dropdown-user .dropdown-menu{
    position: absolute;
}
.orange-bg{
    background: #FFF7EE;
    border-radius: 5px;
}
.grey-bg{
    background: #29313F;
    border-radius: 5px;
    color: white;
}
.p-sm{
    font-size: 14px;
}
.p-xs{
    font-size: 12px;
}
.p-xl{font-size: 22px;}
.user-details{
    width: 200px;
}
table{ border-collapse:separate;border-spacing:0 10px;white-space:nowrap}
.maain-tabble tbody tr{ background:transparent!important}
.maain-tabble tbody tr td{ color:#000000;font-weight:400;font-size:14px!important;border:none!important;vertical-align:middle}
.maain-tabble tbody tr { background-color:white!important;border-radius:5px}
.table thead th {border:none; background: white; color: #666666; font-weight: 400;}
table th:first-child, table td:first-child{padding-left:30px}
td .custom-dropdown button{color:#666666}
.pending{
    background: #FFF7EE;
    color: #E8A631;
    border-radius: 5px;    
}
.approved{
    background: #E5F9F6;
    color: #46C4B4;
    border-radius: 5px;
}
.rejected{
    background: #FFEBED;
    color: #EF5461;
    border-radius: 5px;
}
.w-150{
    width: 150px;
}
select.site-input{
    appearance: none;
    background: url('../images/arrow-down.png') no-repeat 95% 50% #fff;
}
.bold{
    font-weight: 700;
}
.pur-text{
    color: #7F71E9;
}
ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right.show {
    border: 0;
    box-shadow: 0 0 20px rgb(127 113 233 / 11%);
    border-radius: 5px;
}
a.page-link {
    border: 1px solid #FFB55D;
    color: black;
}
.message-img, .message-img img{
    width: 55px;
    height: 55px;
}
.message-img{
    position: relative;
}
span.online{
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background: #0AAC5B;
    border: 2px solid white;
    position: absolute;
    bottom: -3px;
    right: -3px;
}
.message-card{
    background: #FFF7EE;
    border-radius: 0 8px 8px 8px;
}
.password-card{
    border-radius: 5px;
    border: 1px solid rgb(84, 84, 84, .3);
}
.w-190{
    width: 190px;
}
.search-bar{
    position: relative;
    width: 300px;
}
.search-bar button.transparent-btn{
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 10px;
}
.bottom-btn {
    position: absolute;
    width: 94% !important;
    bottom: 32px;
}
.report-img{
    width: 83px;
    height: 83px;
    object-fit: cover;
    border-radius: 100%;
}
.training-tabs li.nav-item {
    border-radius: 0 !important;
    border: 1px solid #29313F;
    border-left: 0;
    border-right: 0;
    width:220px;
    color: #545454;
    font-size: 20px;
    text-align:center;
}
.training-tabs li.nav-item:first-child {
    border-radius: 5px 0 0 5px !important;
    border-left: 1px solid #29313F;
}
.training-tabs li.nav-item:last-child {
    border-radius: 0 5px 5px 0 !important;
    border-right: 1px solid #29313F;
}
.training-tabs li.nav-item a.active {
    border-radius: 5px !important;
    border: 1px solid #29313F;
    background: #29313F !important;
    border-left: 0;
    border-right: 0;
}
.training-card{
    border-radius: 5px;
    background: #FFF7EE;
}
.training-img{
    border-radius: 5px;
    object-fit: cover;
}
.progress {
    height: 9px;
    border-radius: 20px;
    background: #D6D6D6;
}
.progress-bar {
    background: #F7941E;
    border-radius: 20px;
}
.training-overlay{
    position: relative;
}
.training-overlay::before {content: '';background: rgb(84 84 84 / 40%);position: absolute;width: 100%;height: 100%;left: 0;top: 0;border-radius: 5px;}
.training-overlay-text{
    color: white;
    position: absolute;
    right: 15px;
    bottom: 7px;
}
video[poster] {
    width: 100% !important;
    object-fit: cover;
    object-position: center;
    border-radius: 5px !important;
    height: 382px;
    object-fit: cover;
}
video{
    border-radius: 5px;
}
.video-text{
    color: white;
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.video-container {
    width: 100%;
    max-height: 760px;
    overscroll-behavior: contain;
}
.course-progress{
    width: 125px !important;
}
.course-progress .progress-bar {
    background: #29313F;
}
.profile-img, .profile-img img{
    width: 117px;
    height: 117px;
    position: relative;
}
.profile-img img{
    border-radius: 100%;
    object-fit: cover;
}
.profile-tabs a {
    color: #545454 !important;
    border: 0 !important;
    padding: 0 !important;
    font-size: 14px;
}
.profile-tabs {
    border: 0;
}
.profile-tabs a:hover, .profile-tabs a.active {
    color: #29313F !important;
    font-weight: 500;
}
.table thead th.orange-bg{
    border-radius: 0;
    background: #FFF7EE !important;
}
.profile-card{
    border: 1px solid rgb(84, 84, 84, .3);
    border-radius: 5px;
}
.camera-btn{
    background: #29313F;
    border-radius: 100%;
    width: 46px;
    height: 46px;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -10px;
    right: -10px;
    cursor: pointer;
}
.camera-btn-2{
    background: white;
    border-radius: 100%;
    width: 29px;
    height: 29px;
    border: 2px solid #F7941E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: -5px;
    cursor: pointer;
}
.shadow-card{
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 12px rgb(30, 30, 12, .05);
    min-height: 139px;
}
.manager-table thead th{
    color: #141414;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.custom-dropdown {
    min-width: 8rem;
    border: 0;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    border-radius: 5px;
}
.yellow-input{
    background: transparent;
    border: 1px solid #F7941E;
}
.transparent-bg{background: transparent !important;}
.light{
    font-weight: 100;
}
.w-108{
    width: 108px;
    height: 34px;
}
.d-green-text{
    color: #46C4B4;
}
.w-102{
    width: 102px !important;
}
.m-grey-text {
    color: #666666;
}
.black-text{color: black !important;}
.w-95{
    width: 98%;
}
.orange-border{
    border: 1px solid #F7941E;
}
.video-icon{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-video{
    width: 24px;
    height: 26px;
    background: white;
    border: none;
    border-radius: 6px;
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
:focus{
    outline: none !important;
}