body {
  margin: 0;
}

.pagination {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  float: right !important;
}

.pagination > li {
  display: inline-block;
}

.pagination > li > a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination > li > a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.pagination .active {
  background-color: #ddd;
  border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
i.right-icon {
  position: absolute;
  top: 68%;
  transform: translateY(-60%);
  right: 16px;
  cursor: pointer;
}
::placeholder {
  color: #333333;
  font-size: 16px;
}
button.btn.view-btn {
  position: absolute;
  right: 0px;
  top: 15px;
  background-color: transparent;
}
button.btn.view-btn i {
  font-size: 14px;
}

.react-datetime-picker__wrapper {
  border: none;
}

.react-time-picker__wrapper {
  border: none;
}
